body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    text-align: center;
}
h1 {
    color: #eee;
    font-size: 28px;
    margin: 10px;
    padding: 15px;
}
h2 {
    font-size: 24px;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
#main-bio, #contact-info, #bio-image {
    display: flex;
    flex-direction: row;
}
#bio-image {
    width: 200px;
    height: 200px;
    margin: 15px;
}

p {
    display: block;
}

#main-bio {
    width: 70%;

}
#contact-info {
    width: 30%;
    line-height: 1.5em;
}
a {
    color: #d21034;
}